[Unit]
Description=Setup Hub network
Requires=docker.socket
After=docker.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/hub run-script network
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
