[Unit]
Description=Start Hub mount
After=hub-deps.service
PartOf=docker.service
Before=docker.service

[Service]
Type=notify
Environment=RCLONE_CONFIG=/opt/rclone/rclone.conf
Environment=RCLONE_CONFIG=/opt/rclone/rclone.conf
ExecStartPre=+/usr/bin/hub run-script pre-mount
ExecStart=/usr/bin/rclone mount hub-crypt: /hub \
--buffer-size 128M \
--fast-list \
--auto-confirm \
--allow-other \
# keep in cache for 30 days
--dir-cache-time 720h \
--poll-interval 0 \
--log-systemd \
--log-level DEBUG \
--umask 022 \
--cache-dir=/opt/rclone/cache/hub \
--vfs-cache-mode full \
--vfs-cache-max-size 500G \
--vfs-write-back 5m \
--vfs-read-ahead 1G \
--vfs-read-chunk-size 256M \
--vfs-used-is-size
TimeoutStartSec=10min
ExecStop=+/usr/bin/fusermount -uz /hub
Restart=on-failure
User=docker
Group=docker

[Install]
WantedBy=docker.service
