[Unit]
Description=Setup Hub services
Requires=hub-firewall.service hub-mount.service
After=hub-firewall.service hub-mount.service

[Service]
Type=oneshot
ExecStart=/usr/bin/hub run-script services start
ExecStop=/usr/bin/hub run-script services stop
ExecReload=/usr/bin/hub run-script services reload
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
