[Unit]
Description=Setup Hub network
Requires=docker.service
After=docker.service hub-mount.service

[Service]
Type=oneshot
ExecStart=/sbin/hub run-script network
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
