[Unit]
Description=Certbot to create/renew certificates from letsencrypt
Requires=hub-services.service
After=hub-services.service

[Service]
Type=oneshot
ExecStart=/sbin/hub cmd certbot
RemainAfterExit=false
ExecStartPost=/sbin/hub notify "Hub updates" "Certbot renewal successful!"

[Install]
WantedBy=multi-user.target
