[Unit]
Description=Install Hub dependencies
After=network-online.target

[Service]
Type=oneshot
ExecStart=/sbin/hub run-script deps
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
