[Unit]
Description=Start Hub %i services
Requires=hub-security.service
After=hub-security.service

[Service]
ExecStartPre=/sbin/hub run-script services pre-start %i
ExecStart=/sbin/hub run-script services start %i
ExecStartPost=/sbin/hub run-script services post-start %i
ExecStop=/sbin/hub run-script services stop %i
Restart=on-failure
User=root
Group=docker

[Install]
WantedBy=multi-user.target
