[Unit]
Description=Backup Hub app data.
Requires=hub-services.service
After=hub-services.service
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/hub run-script backup-appdata
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
