[Unit]
Description=Certbot to create/renew certificates from letsencrypt
Requires=hub-services.service
After=hub-services.service

[Service]
Type=oneshot
ExecStart=/usr/bin/hub apps certbot

[Install]
WantedBy=multi-user.target
