[Unit]
Description=Backup Hub app data.
Requires=hub-services.service
After=hub-services.service

[Service]
Type=oneshot
ExecStart=/usr/bin/hub run_script backup-appdata
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
