[Unit]
Description=Setup Hub services
Requires=hub-firewall.service hub-mount.service
After=hub-firewall.service hub-mount.service

[Service]
Type=oneshot
ExecStart=/sbin/hub run-script services start
ExecStop=/sbin/hub run-script services stop
ExecReload=/sbin/hub run-script services reload
RemainAfterExit=true
ExecStartPost=/sbin/hub notify "Hub updates" "Services started successfully"

[Install]
WantedBy=multi-user.target
