[Unit]
Description=Start Hub mount
After=hub-deps.service
PartOf=docker.service
Before=docker.service

[Service]
Type=notify
Environment=RCLONE_CONFIG=/opt/rclone/rclone.conf
Environment=RCLONE_CONFIG=/opt/rclone/rclone.conf
ExecStartPre=+/usr/bin/hub run-script pre-mount
ExecStart=/usr/bin/hub run-script mount
ExecStop=+/usr/bin/fusermount -uz /hub
Restart=on-failure
User=docker
Group=docker

[Install]
WantedBy=docker.service
